[Unit]
Description=LoRaWAN sniffer (up)
After=lira-fwd.service

[Service]
Restart=always
ExecStartPre=/bin/sleep 10
ExecStart=/opt/lira/packet_forwarder/lora_pkt_fwd/lora_pkt_fwd -c /opt/lira/packet_forwarder/lora_pkt_fwd/conf_sniff1_up.json -s /dev/spidev0.0
StandardOutput=append:/tmp/log1_up.txt

[Install]
WantedBy=multi-user.target
